<head>
    <meta charset="UTF-8">
    <title>{{ @root.site_name }} - {{ @root.description }}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ @root.description }}">
    <meta name="subject" content="Web developer">
    <meta name="url" content="http://{{ @root.host_name }}/">

    {{!-- start: Facebook --}}
    <meta property="og:url" content="http://{{ @root.host_name }}/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ @root.site_name }}">
    <meta property="og:image" content="http://{{ @root.host_name }}{{ @root.headshot.image }}">
    <meta property="og:description" content="{{ @root.description }}">
    <meta property="og:site_name" content="{{ @root.site_name }}">
    <meta property="og:locale" content="en_US">
    {{!-- end: Facebook --}}

    {{!-- start: twitter --}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@santi6291">
    <meta name="twitter:url" content="http://{{ @root.host_name }}/">
    <meta name="twitter:title" content="{{ @root.site_name }}">
    <meta name="twitter:description" content="{{ @root.description }}">
    <meta name="twitter:image" content="http://{{ @root.host_name }}{{ @root.headshot.image }}">
    {{!-- end: twitter --}}
    
    {{!-- Global site tag (gtag.js) - Google Analytics --}}
    {{#if @isProd}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MMVM5KS13V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MMVM5KS13V');
    </script>
    {{/if}}
    {{!-- end: Google Analytics --}}
    <link rel="stylesheet" href="/css/main.css">
</head>
