<head>
    <meta charset="UTF-8">
    <title>{{ @data.site_name }} - {{ @data.description }}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ @data.description }}">
    <meta name="subject" content="Web developer">
    <meta name="url" content="http://{{ @data.host_name }}/">

    {{!-- start: Facebook --}}
    <meta property="og:url" content="http://{{ @data.host_name }}/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ @data.site_name }}">
    <meta property="og:image" content="http://{{ @data.host_name }}{{ @data.headshot.image }}">
    <meta property="og:description" content="{{ @data.description }}">
    <meta property="og:site_name" content="{{ @data.site_name }}">
    <meta property="og:locale" content="en_US">
    {{!-- end: Facebook --}}

    {{!-- start: twitter --}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@santi6291">
    <meta name="twitter:url" content="http://{{ @data.host_name }}/">
    <meta name="twitter:title" content="{{ @data.site_name }}">
    <meta name="twitter:description" content="{{ @data.description }}">
    <meta name="twitter:image" content="http://{{ @data.host_name }}{{ @data.headshot.image }}">
    {{!-- end: twitter --}}
    
    {{!-- end: ga --}}
    {{#if @isProd}}
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-45794014-2', 'auto');
            ga('send', 'pageview');
        </script>
    {{/if}}
    {{!-- end: ga --}}
</head>
