<div class="text-left text-white" id="skills">
    <div class="mb-4 md:mb-10">
        <h2 class="text-cerise-red {{ @root.theme.h2 }} mb-4">{{ @root.body.titles.skills }}</h2>
    </div>
    <div class="md:flex md:space-x-3">
        {{#each @root.skills}}
        <section class="mb-5 justify-between" id="{{ this.title }}">
            <h3 class="mb-2 text-cerise-red {{ @root.theme.h3 }}">{{ this.title }}</h3>
            <ul class="space-y-2">
                {{#each this.skills}}
                <li class="capitalize {{ @root.theme.body }}">{{ this }}</li>
                {{/each}}
            </ul>
        </section>
        {{/each}}
    </div>
</div>