<div class="text-left text-white" id="skills">
    <div class="mb-4 lg:mb-16">
        <h2 class="text-cerise-red {{ @root.theme.h2 }} mb-4">Skills and Experience</h2>
        {{!-- <p class="{{ @root.theme.body }}">Leo velit auctor ligula phasellus lectus imperdiet</p> --}}
    </div>
    <div class="lg:flex lg:space-x-3">
        {{#each @root.skills}}
        <section class="mb-5 justify-between" id="{{ this.title }}">
            <h3 class="mb-2 text-cerise-red {{ @root.theme.h3 }}">{{ this.title }}</h3>
            <ul class="space-y-2">
                {{#each this.skills}}
                <li class="capitalize {{ @root.theme.body }}">{{ this }}</li>
                {{/each}}
            </ul>
        </section>
        {{/each}}
    </div>
</div>