<section class="space-y-4 lg:space-y-10">
	<div>
		<h2 class="text-cerise-red {{ @root.theme.h2 }} mb-4">{{ @root.body.titles.connect }}</h2>
	</div>
	<div class="flex items-center space-x-10">
		{{#each @root.social}}
		<a class="transition-transform duration-300 transform hover:scale-125" href="{{ url }}" target="{{ target }}">
			<img src="{{ icon }}" class="w-10">
		</a>
		{{/each}}
	</div>
	<div>
		<p class="text-cerise-red {{ @root.theme.body }}">&copy;{{ date 'getFullYear' }} no rights reserved.</p>
	</div>
</section>