<main id="summary" class="flex flex-wrap items-center lg:items-start">
    <div class="w-2/4 lg:w-full mb-10 lg:w-1/4">
        <h1 class="text-abbey {{ @root.theme.h1 }}">{{ @root.site_name }}</h1>
    </div>
    <div class="items-center w-2/4 lg:w-1/4 mx-auto mb-10 pr-4">
        <img class="rounded-full mx-auto border-4 border-solid border-abbey" src="{{ @root.headshot.image }}" alt="{{ @root.headshot.alt }}">
    </div>
    <div class="w-full lg:w-3/4 text-left text-dove-gray {{ @root.theme.body }}">
        <h2>{{{ @root.body.intro }}}</h2>
        {{#each @root.body.copy}}
            <p>{{{ this }}}</p>
        {{/each}}
    </div>
</main>
